* {
    margin: 0;
    padding: 0;
    font-family: lato;
    box-sizing: border-box;
}

/*header*/

#logo {
    
    width: 250px;
    background-color: #333;

  }

header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 1px 20px;
    border-bottom: 5px solid #F26363;
    background-color: #333;

  }

#navbar {
    text-align:  right;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  

   
  }
#navbar li {
    display: inline-block;
    margin-right: 15px;

  
  }

#navbar li:hover a{
    color: #F26363;
    transition: background-color 0.3s;
   
  }

#navbar a {
    font-family: sans-serif;
    text-decoration: none;
    color: yellow;
    font-weight: bold;   
    background-color: #333;
 
  }

/*footer*/

.footer {
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
  border-top: 5px solid #F26363;
  background-color: #333;
  
  }

.texto-footer {
    font-family: sans-serif;
    text-align: center;
    color: yellow;
  }

.redes-sociales {
    display: flex;
    align-items: center;  
  }

.redes-sociales img {
    width: 30px; 
    margin-top: 10px;
    margin-right: 10px;
    transition: transform 0.2s;
  }

  .redes-sociales img:hover {
    transform: scale(1.2);
  }

/* proximos estrenos */

body{
  background-color: gray;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    color: #0a0a0a;
    color:yellow;
    background-color: #F26363;
}


.transicion {
    width: 340px;
    height: 500px;
    overflow: hidden;
    margin: 50px auto; 
    border-radius: 30px;
    border: 5px solid #F26363;
    position: relative;
   
    
}

.transicion ul {
    display: flex;
    padding: 0;
    width: 600%; 
    animation: slide 10s infinite alternate ease-in-out;
}

.transicion li {
    width: 16.67%; 
    list-style: none;
   
}

.transicion img {
    height: 500px; 
   
}
/*
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F26363;
  color: #333;
  border: none;
  border-radius: 50%; 
  width: 30px; 
  height:50px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

.transicion .prev {
  left: 0;
}

.transicion .next {
  right: 0;
}

.prev:hover{
  color:yellow;
}
.next:hover{
  color:yellow;
}
*/
.enlacp{
    color:yellow;
    margin-left: 15px;
}
.enlacp:hover{
    color: #F26363;
}

@keyframes slide {
  0% {margin-left: 0;}
  16.67% {margin-left: 0;}

  20% {margin-left: -100%;}
  33.33% {margin-left: -100%;}

  33.33% {margin-left: -200%;}
  50% {margin-left: -200%;}

  50% {margin-left: -300%;}
  66.67% {margin-left: -300%;}

  66.67% {margin-left: -400%;}
  83.33% {margin-left: -400%;}

  83.33% {margin-left: -500%;}
  100% {margin-left: -500%;}
}


/* Media query para pantallas más pequeñas, como teléfonos */
@media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    #navbar {
      margin-top: 20px;
    }
  
    #navbar ul {
      flex-direction: column;
      text-align: center;
    }
  
    #navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }

  
}


